{% extends "base.html" %}
{%load static%}
{% load imagekit %}

{% block extra_head %}
<link rel="stylesheet" href="{%static 'css/catalog.min.css' %}"></noscript>
    <style>
    .bg-wraper {
        background: url({%static 'imgs/base/imgs/wall_bg.jpg'%});
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url({%static 'imgs/base/imgs/wall_bg.jpg'%});
        background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url({%static 'imgs/base/imgs/wall_bg.jpg'%});
        background-position: center;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="bg-wraper">
        <div class="header">
        <div class="content">
            • עיינו באתר • הוסיפו לעגלה • שלחו אלינו •
        </div>
        </div>
        
        
        <div class="catalog">
            {%for album in albums%}
            <h3 class="album-description" style="display: none;" id="album_description_{{album.id}}">{{album.description}}
            </h3>
            <h3 class="album-fotter" style="display: none;" id="album_fotter_{{album.id}}">{{album.fotter}}</h3>
    
            <div class="title-wraper">
                <button data-album-id="{{album.id}}" onclick="openCategoryModal({{album.id}})" class="title btn">
                    {{album.title}}
                </button>
            </div>
            <div class="container">
                <div name="slick-slider-{{album.id}}" id="slick-slider-{{album.id}}"
                    class="swiper-container swiper-category slick-slider">
                    <div class="swiper-wrapper">
                        {%for img in album.sorted_image_set%}
                        <div class="wraper-my-slick-slide swiper-slide">
                            <div data-album-id="{{album.id}}" data-my-slide-index="{{forloop.counter0}}"
                                data-prod-id="{{img.id}}" class="my-slick-slide shadow-lg">
                                {% if img.big_discount %}
                                <img class="big-discount" alt="מבצע ענק!"
                                    src="{%static 'assets/catalog/imgs/big_discount.gif'%}" />
                                {%endif%}
    
                                {%if img.discount %}
                                <img class="discount" src="{{img.discount}}" alt="discount" />
                                {%endif%}
    
    
                                <div class="img-title">{{img.title}}</div>
                                
                                
                                
                                    <img class="product-image swiper-lazy"width="100%" height="100%"
                                    data-src="{{img.image}}" 
                                    alt="{{img.description}}" 
                                    data-srcset="
                                        {{img.image_69.url}} 360w,
                                        {{img.image_270.url}} 1325w,
                                        {{img.image_248.url}} 1240w,
                                        {{img.image_376.url}} 11880w,
                                    "/>
                                
                                <div class="swiper-lazy-preloader">
                                </div>

                                <div class="like-btn">
                                    <button>
                                        <img width="48" height="48" src="{%static 'imgs/catalog/imgs/icons8-plus-48.png'%}" alt="" srcset="">
                                        <div class="btn-text">
                                            הוסף
                                        </div>
                                        
                                    </button>
                                </div>    
                            </div>
                            
                            <!--
                            <div class="like-btn" name="like-btn">
                                <div class="like-wrapper" data-prod-id="{{img.id}}">
                                    <a name="like-btn">
                                        <span name="like-btn">
                                            <img src="{%static 'assets/catalog/imgs/icons8-plus-48.png'%}"> הוסף
                                        </span>
                                    </a>
                                </div>
                            </div>
                            -->
                        </div>
                        {%endfor%}
    
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                
            </div>
    
    
    
            {%endfor%}

        </div>
    
        
        
        
    </div>
{%endblock%}

{%block extra_body%}
<script src="{%static 'js/catalog/catalog_bundle.min.js'%}" defer></script>
{%endblock%}