

@import 'partial/mixins';
@import 'swiper-bundle';

body {
    direction: rtl;
    padding:0px;
    margin: 0px;
}
* {
    //font-family: 'Rounded Mplus 1c';
    font-family: 'Rubik';
    font-style: normal;
}
:root {
    --clr-primery-bg: linear-gradient(to right,#e7ad00,#ebb000,#f0b300,#f4b700,#f9ba00,#f9ba00,#f9ba00,#f9ba00,#f4b700,#f0b300,#ebb000,#e7ad00);
    --clr-primery-gold: #f0b300;
}


.navbar {
    @include ms-global-gredient();
    
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    /*
    padding-top: 20px;
    padding-bottom: 20px;*/
    .nav-item {
        .menu {
        
            .collapsible {
                
                //background-color: #777;
                //color: white;
                background-color: transparent;
                cursor: pointer;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                border: 1px solid;
                color: rgba(0,0,0,.5);
                border-color: rgba(0,0,0,.1);
                &.active, &:hover {
                    background-color: #0000003d;
                }
              }
              
              
              
              .content {
                position: absolute;
                //padding: 0 18px;
                display: none;
                overflow: hidden;
                
                //transform: translate(75%, 25%);
                background-color: #e2e2e2;
                border-radius: 15px;
                border: 1px solid black;
                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    
                        font-size: xx-large;
                        white-space: nowrap;
                        //padding-left: 40px;
                        //padding-right: 40px;
                        //padding-top: 10px;
                        //padding-bottom: 10px;
                        @mixin menu-link-spaceing {
                            padding: 15px;
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                        img {
                            @include menu-link-spaceing();
                        
                        }
                        //margin-top:5px;
                        //margin-bottom:5px;
                        width: 100%;
                        
                        &:hover {
                            background-color: #8a8a8a;
                            cursor: pointer;
                        }
                        
                        & .who-us {
                            @include menu-link-spaceing();
                            font-size: larger;
                        }
                    }
                }
              }
              
              &.active {
                .content {
                display: block!important;
                }
              }
        }
    
    
        form {
            #search {
                height:40px;
                font-size:18pt;
            }
        }
    }
    
}





#footer {
    background: #343b40;
    padding: 5px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }
    .copyright strong {
        color: yellow;
    }
    
    
    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    }
}