@import '../../base/css/partial/mixins';

.bg-wraper {
    .header {
        margin-left: 20px;
        padding-top: 50px;
        margin-right: 20px;
        padding-bottom: 50px;

        .content {
            color: #FFD880;
            text-align: center;
            font-size: 2.3rem;
            font-weight: bold;
            position: relative;
            background: #222;
        }

    }
}